*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color1: #fefad4;
  --color2: #30303c;
  --color3: #f69a60;
  --color4: #403686;
  --color5: #6F3713;
  --color6: #000000;
  font-family: 'Lancelot';
  font-size: 16px;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
}

/* lancelot-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Lancelot';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lancelot-v26-latin-regular.woff2') format('woff2');
}