.buy-container{
    display: grid;
    grid-template-columns: .5fr 3fr 1fr;
}
.nav-container{
    background-color: var(--color1);
    width: 3.375rem;
}

.price {
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 44,875rem;
    margin: auto;
    background-color: var(--color2);
}

.item {
    text-align: center;
    position: relative;
}

.item img {
    width: 20.625rem;
    height: 20.625rem;
    border-radius: 20px;
}

.item .name,
.item .price {
    position: absolute;
    bottom: 0;
    left: 35%;
    transform: translateX(-50%);
    border-radius: 20px;
    height: 5rem;
    width: 20.625rem;
    margin-bottom: 1.5rem;
    color: white;
}
.item .price {
    bottom: -20px;
}


#cart {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#cart-list li {
    margin-bottom: 5px;
}