:root {
    --color1: #fefad4;
    --color2: #30303c;
    --color3: #f69a60;
    --color4: #403686;
    --color5: #6F3713;
    --color6: #000000;
    font-family: 'Lancelot';
    font-size: 16px;
  }
  