.cart-container {
  padding: 42px;
  height: 1024px;
  background-color: var(--color1);
  position: sticky;
  top: 0;
}
.cart-container-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.cart-ttl {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: Lancelot;
}
.cart-lst {
  list-style: none;

  height: 200px;
  display: flex;
  flex-direction: column;
}

.cart-lst li {
  margin-bottom: 5px;
}
.cart-txt {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.order-btn {
  width: 115px;
  height: 59px;
  text-transform: uppercase;
  background-color: var(--color5);
  color: white;
  // margin: 0 0 0.5rem 0.5rem;
}
.order-txt {
  width: 290px;
  height: 59px;
  background-color: var(--color1);
  text-align: center;
  margin-right: 2px;
  border: black 3px solid;
}
.customer {
  width: 423px;
  height: 59px;
  background-color: var(--color1);
  margin-top: 1rem;
  border: black 3px solid;
}
.valid-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-top: 1.5rem;
}
.valid-btn {
  height: 80px;
  width: 308px;
  background-color: var(--color5);
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.valid-img {
  width: 96px;
  height: 80px;
}
.valid-logo {
  width: 265px;
  height: 80px;
  margin: 3rem 0 0 6rem;
}
.price-container {
  font-family: Montserrat;
  width: 425px;
  height: 159px;
  background-color: var(--color2);
  color: white;
  line-height: 2rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  
}
.article-name{
  font-family: Montserrat;
}

/////////////////
.red-background {
  background-color: red;
  }
  .js-recyble-button{
    margin: 0 20px;
  }
