html {
  background-color: var(--color2);
}
.shop-container {
  display: grid;
  grid-template-columns: 118px auto 509px;
}

.shop-card {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background-color: var(--color2);
  margin: 3rem;
}
.price {
  // font-weight: bold;
  font-family: Montserrat;
  // font-size: 0.5rem;
}

.item {
  // text-align: center;
  position: relative;
}

.item img {
  width: 330px;
  height: 331px;
  border-radius: 20px;
}

.item .name,
.item .price,
.item .remaining {
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
  border-radius: 20px;
  height: 5rem;
  width: 20.625rem;
  margin-bottom: 1.5rem;
  color: var(--color6);
  
}
.name{
  font-size: 1.75rem;
}
  .price{
    font-size: 1rem;
  }

.item .price {
  bottom: -30px;
}

.item .remaining {
  bottom: 5px;
  left: 80%;
  width: 51px;
  height: 37px;
  background-color: #30303C;
}
.remaining{
  text-align: center;
}
