.cart-container {
    padding: 20px;
    border-radius: 5px;
    height: 1024px;
    background-color: var(--color1);
    position: sticky;
    top: 0.5rem;
   margin: 0.5rem 0.5rem 0 0;
  }
  .cart-lst {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 380px;
  }
  
  .cart-lst li {
    margin-bottom: 5px;
  }
  .cart-txt {
    font-size: 2rem;
    margin-top: 3rem;
    margin-left: 0.5rem;
  }
  .order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-right: 6rem;
    
  }
  .order-btn {
    width: 6rem;
    height: 3rem;
    text-transform: uppercase;
    background-color: var(--color5);
    color: white;
    margin: 1rem 0 0.9rem 0.5rem;
  }
  .order-txt {
    width: 16rem;
    height: 3rem;
    background-color: var(--color1);
    text-align: center;
    margin-right: 5rem;
    border: black 3px solid;
  }
  .customer {
    width: 24rem;
    height: 3rem;
    background-color: var(--color1);
    margin-left: 0.5rem;
    border: black 3px solid;
  }
  .valid-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
  .valid-btn {
    height: 4rem;
    width: 17rem;
    background-color: var(--color5);
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .valid-img {
    height: 4rem;
  }
  .valid-logo {
    width: 265px;
    height: 80px;
    margin: 2.5rem 0 0 7rem;
    
  }
  .price-container {
    background-color: var(--color2);
    color: white;
    line-height: 2rem;
    padding: 0.5rem;
  }