.nav-container {
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1024px;
  position: sticky;
  top: 0;
  
}
.nav-logo {
  width: 60px;
  margin: 3rem 0 0 1.5rem;
}
.nav-img1,
.nav-img2,
.nav-img3 {
  margin-top: 3rem;
  width: 118px;
  height: 115px;
  // padding: 1.5rem;

}

